.modules{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 24px 32px;
}
.modules button{
  display: flex;
  gap: 24px 12px;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding: 44px 18px;
  border-radius: 16px;
  border: 1px solid rgb(67, 51, 118);
  background: rgb(36, 18, 75);
}
.modules button:hover{
  transition: all 0.2s ease 0s;
  border: 1px solid rgb(59, 212, 45)
}
.modules button div h5{
  opacity: 1;
  color: rgb(59, 212, 45);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0px;
}
.modules button div div {
  margin-top: 6.5px;
  width: 220px;
}

.modules button div div span{
  margin-top: 6.5px;
  color: rgb(161, 145, 255);
  font-weight: 600;
  font-size: 14px;
}
.modules button div div svg{
  float: right;
  margin-left: 10px;
}
.modules button div div svg:hover{
  transition: all 0.2s ease 0s;
  opacity: 0.5;
}
.moduleTitle{
  display: flex;
  align-items: center;
  gap: 14px;
}
.moduleTitle svg{
  margin-top: 28px;
  font-size: 20px;
}
.moduleTitle svg:hover{
  opacity: 0.5;
  cursor: pointer;
}